.new_item_modal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

span:hover { cursor: pointer; }

.button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.title {
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:  50%;
}


.modal_button {
    outline: none;
    background: #333;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    color: #eee;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 12px;
}